{% extends 'base.html' %}

{% block titulo %}Lista de Professores - ATO Espaço de Dança{% endblock %}

{% block conteudo %}
    <h2 class="mb-4">Lista de Professores Ativos</h2>

    <div class="d-flex justify-content-end mb-3">
        {% if not inativos %}
            <a href="/cadastrar_professor" class="btn badge-ato shadow-sm">+ Novo Professor</a>
        {% endif %}
    </div>

    <table class="table table-hover mt-3 shadow-sm tabela-datatable">
        
        <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone / WhatsApp</th>
                <th>Chave PIX</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>

        <tbody>
            {% for prof in lista_de_professores %}
            <tr>
                <td>{{ prof['nome'] }}</td>
                <td>{{ prof['telefone'] }}</td>
                <td>{{ prof['chave_pix'] }}</td>
                
                <td class="text-center">
                    <a href="/editar_professor/{{ prof['id_professor'] }}" class="btn btn-warning btn-sm shadow-sm" title="Editar">
                        Editar
                    </a>
                    
                    <a href="/deletar_professor/{{ prof['id_professor'] }}" class="btn btn-danger btn-sm shadow-sm" title="Excluir" onclick="return confirm('Tem certeza que deseja excluir este professor do sistema?');">
                        Excluir
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}