{% extends 'base.html' %}

{% block titulo %}Lista de Alunos - ATO Espaço de Dança{% endblock %}

{% block conteudo %}
    <h2 class="mb-4">Lista de Alunos com Matrícula Ativa</h2>

    <table class="table table-hover mt-3 shadow-sm">
        
        <thead>
            <tr>
                <th>Nome</th>
                <th>Contato 1</th>
                <th>Contato 2</th>
                <th>Responsável</th>
                <th class="text-center">Ações</th> </tr>
            </tr>
        </thead>

        <tbody>
            {% for aluno in lista_de_alunos %}
            <tr>
                <td>{{ aluno['nome'] }}</td>
                <td>{{ aluno['contato_1'] }}</td>
                <td>{{ aluno['contato_2'] }}</td>
                <td>{{ aluno['responsavel'] }}</td>

                <td class="text-center">
                    <a href="/editar_aluno/{{ aluno['id_aluno'] }}" class="btn btn-warning btn-sm shadow-sm">
                        ✏️ Editar
                    </a>
                    
                    <a href="/inativar_aluno/{{ aluno['id_aluno'] }}" class="btn btn-danger btn-sm shadow-sm" title="Inativar" onclick="return confirm('Tem certeza que deseja inativar este aluno?');">
                        🚫 Inativar
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}